.vertical-alignment-assist {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    height: inherit;
    width: inherit;
    margin: 0 auto;
}