---
layout: default
title: About
---
<div class="container">
  <div class="page-header">
    <h2>Practice Contest Solution Templates</h2>
  </div>

  <p>
    If you're having trouble getting started on any of the weekly problems try looking at a template for some ideas.
  </p>

  <h3></h3>

  <table class="table table-striped">
    <tbody>
      <tr>
	<td><b>Problem Name</b></td>
	<td><b>Source Code</b></td>
      </tr>

      <tr>
	<td><i><a href="https://open.kattis.com/problems/bijele">Bijele</a></i></td>
	<td><a href=bijele_template.py>bijele_template.py</a></td>
      </tr>

      <tr>
	<td><i><a href="https://open.kattis.com/problems/nastyhacks">Nasty Hacks</a></i></td>
	<td><a href=nastyhacks_template.py>nastyhacks_template.py</a></td>
      </tr>

      <tr>
	<td><i><a href="https://open.kattis.com/problems/peragrams">Peragrams</a></i></td>
	<td><a href=peragrams_template.py>peragrams_template.py</a></td>
      </tr>

    </tbody>
  </table>
</div>

	
